<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383191688505-9fukip4qam2ajqkfh44bia172om69usd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383191688505-9fukip4qam2ajqkfh44bia172om69usd</string>
	<key>API_KEY</key>
	<string>AIzaSyDXEnHgi7TK4vPteg6kpAZ8yK61TKU37yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>383191688505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marianpaliichuk.EmailPassLogin</string>
	<key>PROJECT_ID</key>
	<string>emailpaogin-6d17e</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpaogin-6d17e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383191688505:ios:18e0e6baad1e778d8674e8</string>
</dict>
</plist>